#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=CopyScan Linux
Comment=Scannen, Drucken und als PDF speichern
Exec=/home/felixl/Dokumente/claude_projects/Kopierer/start_copyscan-linux.sh
Icon=scanner
Terminal=false
Categories=Utility;Scanning;
