[Desktop Entry]
Type=Application
Name=CopyScan Linux
Comment=Scannen, Drucken und als PDF speichern
Exec=copyscan-linux
Icon=copyscan-linux
Terminal=false
Categories=Utility;
