[Desktop Entry]
Type=Application
Name=Kopierer
Comment=Scannen, Drucken und als PDF speichern
Exec=kopierer
Icon=kopierer
Terminal=false
Categories=Utility;Scanning;
